body{
  background-color: #6BAFB4;
}


#boxtop{
position: absolute;
width: 486px;
height: 181px;
background: #FFFFFF;
margin-left: 37%;
margin-top: 40px;
}

#boxtarefa{
  position: absolute;
  width: 486px;
  height: 181px;
  background: #FFFFFF;
  margin-left: 37%;
  margin-top: 340px;
  }

#inputTitulo{
  margin-left: 90px;
  margin-top: 30px;
  position: absolute;
  width: 107px;
  height: 39px;
  background-color: #E3E0E0;
  border: none;
  font-family: 'Nerko One', cursive;
  font-size:20px;
  color: #FFFFFF
}

#inputData{
  margin-left: 250px;
  margin-top: 30px;
  position: absolute;
  width: 190px;
  height: 39px;
  background-color: #E3E0E0;
  border: none;
  font-family: 'Nerko One', cursive;
  font-size:20px;
  color: #FFFFFF
}

#inputDesc{
  margin-left: 90px;
  margin-top: 100px;
  position: absolute;
  width: 274px;
  height: 39px;
  background-color: #E3E0E0;
  border: none;
  font-family: 'Nerko One', cursive;
  font-size:20px;
  color: #FFFFFF
}

#boxtop > #guardar{
margin-left: 80%;
margin-top: 100px;
position: absolute;
width: 85px;
height: 39px;
background-color: #6BAFB4;
font-family: 'Nerko One', cursive;
color: white;
border: none;
}

#titulo{
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#data{
  position: absolute;
  margin-top: 40px;
  margin-left: 210px;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#descricao{
  position: absolute;
  margin-top: 110px;
  margin-left: 10px;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#boxtarefa #btitulo{
  text-align: center;
  font-weight: bold;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#boxtarefa #bdata{
  position: absolute;
  text-align: center;
  font-weight: bold;
  margin-left: 390px;
  margin-top: -35px;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
  font-size: 10pt;
}

#boxtarefa #bdesc{
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#boxtarefa #faixalateral{
  background-color: teal;
  position: absolute;
  height: 181px;
  width: 30px;
}


#boxtarefa > #faixalateral > #teste{
  margin-top: 80px;
  color: white;

}

#boxtarefa > #iconedelete{
  margin-top: 10px;
  margin-left: 47%;
  color: #D4D3D3;
  position: absolute;

}

#status{
  position: absolute;
  margin-top: 250px;
  margin-left: 37%;
  float: left;
}


#status > #aberto{
  position: absolute;
  width: 486px;
  margin-left: 63%;
  margin-top: 10px;
  font-size: 35pt;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}

#status > #fechado{
  width: 486px;
  margin-left: 0%;
  margin-top: 10px;
  font-size: 35pt;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  color: #D4D3D3;
}